body{
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
    overflow: hidden;
}
html{
    height: 100%;
}
#app{
    height: 100%;
}
/* 浮动 */
.left {
    float:left;
}
.right {
    float:right;
}
.clear:after ,.clearfix:after{
    content:'\20';
    display:block; 
    height:0;
    line-height:0;
    font-size:0;
    clear:both;
    visibility:hidden;
}
/* for ie*/
.clear,.clearfix{
    *zoom:1;
} 
.el-table::before{
    height: 0;
}

/*element-ui*/
/*登录页*/
.login_form .el-input__inner{
    padding-left: 54px;
}
.remember_pasd .el-radio__input.is-checked + .el-radio__label{
    color: #919191;
}
/*侧边栏*/
.el-submenu__title{
    font-size: 20px;
    background-color: #2C3031 !important;
}
.el-menu-item{
    font-size: 16px;
    background-color: #25292A !important;
    color: #999 !important;
    position: relative;
}
.el-menu-item.is-active:before{
    content: '';
    width: 10px;
    height: 100%;
    background-color: #1876EF;
    position: absolute;
    top: 0;
    left: 0;
}
.el-menu-item.is-active{
    color: #1876EF !important;
}
/*表格*/
.el-table th{
    text-align: center;
}
.header_row_style th{
    background-color:#EAECEE !important;
    color:#000;
}
.el-table .cell{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.el-table--striped .el-table__body tr.el-table__row--striped td{
    background-color: #F2F6FA;
}
.el-table .el-table__header,.el-table .el-table__body{
    width: 100% !important;
}
/*弹框dialog*/
.el-dialog{
    left: 106px;
}
/*去除输入框校验成功的border样式*/
.el-form-item.is-success .el-input__inner, .el-form-item.is-success .el-input__inner:focus, .el-form-item.is-success .el-textarea__inner, .el-form-item.is-success .el-textarea__inner:focus{
    border-color: #dcdfe6;
}
/*客户列表搜索相关样式*/
.custom_header_form .el-form-item__content{
    margin-left: 0 !important;
}
.search_input .el-input__inner{
    border-color: #D6D7DC;
    /*border-radius: 0;*/
    height: 100%;
    /*font-size: 18px;*/
    max-width: 350px;
}
.search_form_item .el-form-item__content{
    display: flex;
}
/*客户列表选中样式*/
.custom_container .el-table__body tr.current-row > td{
    background-color: #FFF6EE !important;
    color: #F25406;
}
/*客户列表底部切换栏*/
.custom_container .el-tabs--border-card{
    border:none;
}
.custom_container .el-tabs--border-card>.el-tabs__header{
    background: #f7f7f7;
    border-bottom: none;
}
.custom_container .el-tabs__item{
    flex: 1;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
    color: #fff !important;
    margin-top: 10px !important;
    transition: none !important;
    padding: 0 !important;
}
.custom_container .el_tabs_footer .el-tabs__item:last-child{
    flex: inherit;
    width: 99px;
    height: 34px;
    line-height: 34px;
    background-color: #1876EF;
    border-top-left-radius: 20px;
    margin-top: 39px !important;
    margin-left: 20px;
}
/*此时处于上拉状态*/
.custom_container.up .el-tabs__item:last-child i{
    transform: rotate(90deg);
}
/*此时处于下拉状态*/
.custom_container.down .el-tabs__item:last-child i{
    transform: rotate(270deg);
}
.custom_container .el-tabs__item::before{
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    background-color: #1876EF;
    border-bottom: none;
    border-radius: 20px 20px 0 0;
    transform: perspective(20px) rotateX(5deg);
    transform-origin: left;
}
.custom_container .el_tabs_footer .el-tabs__item:last-child::before{
    position: relative;
}
.custom_container .el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active{
    z-index: 3;
    background: transparent;
    color: #1876EF !important;
    border:none;
}
.custom_container .el_tabs_footer>.el-tabs__header .el-tabs__item:last-child.is-active{
    background-color:#1876EF;
    color: #fff !important;
}
.custom_container .el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active::before{
    background-color: #fff;
    box-shadow:0 0px 20px rgba(0,0,0,.2);
}
.custom_container .el-tabs--border-card > .el-tabs__content,.custom_container .el-tabs__nav-wrap.is-scrollable{
    padding: 0;
    /*z-index: 1;*/
}
.custom_container .el-tabs__nav-next, .custom_container .el-tabs__nav-prev{
    display: none;
}
.custom_container .el-tabs__nav{
    display: flex;
    width: 100%;
}
.custom_container .el_tabs_footer > .el-tabs__content .el-tab-pane{
    height: 320px;
}
.custom_container.down .el_tabs_footer > .el-tabs__content .el-tab-pane{
    min-height: 0;
    height: 0;
}
/*客户列表表格样式修改*/
.customListsTableInfo .el-table__body-wrapper{
    overflow: auto;
    flex:1;
}
/*底部表格样式修改*/
.custom_container .el-tabs__content .el-table--scrollable-x .el-table__body-wrapper{
    overflow: auto;
    height: 253px;
}
/*新增客户基本信息*/
.basicForm_container .el-form-item .el-form-item__content{
    margin-left: 0 !important;
}
.basicForm_container .el-form-item label + .el-form-item__content{
    margin-left: 80px !important;
}
/*基本信息弹框*/
.custom_container .basicInfoDialog .el-dialog{
    width: 763px;
}
.custom_container .basicInfoDialog .el-form-item.is-success .el-input__inner{
    border-color: #dcdfe6;
}
.custom_container .budget_item .el-input__suffix{
    right: 13px;
}
/*客户相关记录弹框*/
.customRelationInfoDialog .el-dialog{
    width: 763px;
}
.customRelationInfoDialog .form_item_style_width .el-form-item__content,
    .customRelationInfoDialog .el-date-editor.el-input, .customRelationInfoDialog .el-date-editor.el-input__inner{
    width: 100%;
}
/*方案明细弹框*/
.customRelationInfoDialog.programmeEditDialog .el-dialog{
    width: 863px;
}
.hide-form-item{
    display: none;
    margin-bottom: 0;
    line-height: 0;
}
.customRelationInfoDialog .el-select{
    width: 100%;
}
/*分配设计师*/
.assignDesignerDialog .el-form-item__label{
    width: auto !important;
    display: block;
    float: inherit;
    text-align: left;
    margin-bottom: 15px;
}
.assignDesignerDialog .el-dialog__body{
    padding: 30px 160px;
}
.assignDesignerDialog .el-form-item__content{
    margin-left: 0 !important;
}
.assignDesignerDialog .el-select{
    width: 100%;
}
.el_tabs_footer .el-table{
    flex:1;
    display: flex;
    flex-direction: column;
}
.el_tabs_footer .el-table .el-table__body-wrapper{
    flex:1;
    overflow: auto;
}
.el-carousel__container .image_carousel_item{
    width: auto !important;
    height: 100%;
}
.el-carousel__container .el-carousel__item{
    text-align: center;
}
.el-dialog__header{
    padding: 20px 60px;
}
.el-dialog__body{
    padding: 30px 60px;
}
.el-upload-list--picture-card .el-upload-list__item,.el-upload--picture-card{
    width: 128px;
    height: 128px;
}